$palette = {
	base: #2c3e50
	lighter: #7f8c8d
	light: #95a5a6
	accent: #3498db
	border: #CCC
	background: #FFF
	backgroundDescent: #F8F8F8
	backgroundAccent: #3498db
	default: {
		color: #2c3e50
	}
	success: {
		color: #16a085
	}
	notice: {
		color: #3498db
	}
	warning: {
		color: #f39c12
	}
	danger: {
		color: #e74c3c
	}
}